/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.l-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 80%;
  color: #333;
  font-family: "Roboto", "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ----------------------------------------
animations
---------------------------------------- */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}
.u-scroll {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 6%;
}
@media screen and (max-width: 576px) {
  .u-scroll {
    left: 8%;
  }
}
.u-scroll--text {
  font-size: 1.1rem;
  color: #b1f5f5;
}

.u-scroll::before {
  content: "";
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  background-color: #b1f5f5;
  width: 1px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: -115px;
  right: 0;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  51% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  51% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}
.open .c-toggle-btn__line:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-315deg);
          transform: translate(-50%, -50%) rotate(-315deg);
}
.open .c-toggle-btn__line:nth-child(2) {
  opacity: 0;
}
.open .c-toggle-btn__line:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
          transform: translate(-50%, -50%) rotate(315deg);
}

.open .l-sideBar {
  left: calc(100% - 240px);
  opacity: 1;
}

.scrolled.l-header {
  background: rgba(9, 62, 255, 0.8);
}

/* ----------------------------------------
header
---------------------------------------- */
@media screen and (max-width: 992px) {
  .l-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 4%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

/* ----------------------------------------
sideBar
---------------------------------------- */
.l-sideBar {
  height: calc(100vh - 140px);
  width: 240px;
  position: fixed;
  top: 140px;
  left: 0;
}
@media screen and (max-width: 992px) {
  .l-sideBar {
    height: calc(100vh - 100px);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: fixed;
    top: 100px;
    left: 100%;
    z-index: 3;
  }
}

/* ----------------------------------------
section
---------------------------------------- */
.l-section {
  margin-top: 60px;
  padding: 0 4%;
}
.l-section__wrapper {
  background-color: #b1f5f5;
  border-radius: 0 40px 40px 40px;
  padding: 32px 8%;
}

/* ----------------------------------------
keyVisual
---------------------------------------- */
.l-keyVisual {
  height: 85vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ----------------------------------------
about
---------------------------------------- */
.l-about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 32px;
}
@media screen and (max-width: 768px) {
  .l-about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* ----------------------------------------
work
---------------------------------------- */
.l-work {
  margin-bottom: 60px;
}

/* ----------------------------------------
notFound
---------------------------------------- */
.l-notFound__wrapper {
  width: 80%;
  height: calc(86vh - 80px);
  margin: 0 auto;
  border-radius: 40px;
  display: grid;
  place-content: center;
}

.l-container {
  width: calc(100% - 240px);
  margin-left: auto;
  background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
}
@media screen and (max-width: 992px) {
  .l-container {
    width: 100%;
  }
}

.l-subPage {
  width: 100%;
}

.l-keyVisual__wrapper {
  background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
}
.l-keyVisual__wrapper--subPage {
  padding-top: 60px;
}

.l-footer {
  width: 100%;
  height: 80px;
  background-color: #b1f5f5;
  display: grid;
  place-content: center;
}

/* ----------------------------------------
component
---------------------------------------- */
.c-button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.c-button {
  text-align: center;
  margin-top: 40px;
}
.c-button__item, .c-button__item--sub {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #fff;
  color: #093eff;
  padding: 20px 40px;
  border: 4px solid #093eff;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}
.c-button__item:active, .c-button__item--sub:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 4px;
}
.c-button__item--sub {
  display: inline-block;
  font-size: 1.1rem;
  padding: 8px 12px;
  margin-top: 20px;
}
.c-button__item--sub:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 4px;
}

.c-toggle-btn {
  display: none;
}
@media screen and (max-width: 992px) {
  .c-toggle-btn {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #b1f5f5;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
  }
}
@media screen and (max-width: 992px) {
  .c-toggle-btn__line {
    display: block;
    width: 60px;
    height: 4px;
    background-color: #093eff;
    border-radius: 8px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (max-width: 992px) {
  .c-toggle-btn__line:nth-child(1) {
    top: 20px;
  }
}
@media screen and (max-width: 992px) {
  .c-toggle-btn__line:nth-child(2) {
    top: calc(50% - 2px);
  }
}
@media screen and (max-width: 992px) {
  .c-toggle-btn__line:nth-child(3) {
    bottom: 20px;
  }
}

/* ----------------------------------------
header
---------------------------------------- */
.p-title {
  width: 240px;
  height: 140px;
  background-color: #093eff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}
@media screen and (max-width: 992px) {
  .p-title {
    width: 140px;
    height: 80px;
    background-color: #b1f5f5;
    border-radius: 8px 8px 0 0;
    position: static;
  }
}
.p-title--link {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 16px;
}
@media screen and (max-width: 992px) {
  .p-title--link {
    color: #093eff;
    font-size: 1.8rem;
    padding: 8px;
  }
}

/* ----------------------------------------
sideBar
---------------------------------------- */
.p-nav {
  height: 100%;
  background-color: #b1f5f5;
}
@media screen and (max-width: 992px) {
  .p-nav {
    border-radius: 8px 0 0 8px;
  }
}
.p-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  padding: 0 16px;
}
.p-nav__list--item {
  width: 100%;
  text-align: center;
}
.p-nav__list--link {
  display: block;
  font-size: 1.1rem;
  border-radius: 8px 8px 0 0;
  padding: 16px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.p-nav__list--link:hover {
  font-size: 1.2rem;
  background-color: #093eff;
  color: #b1f5f5;
}

/* ----------------------------------------
keyVisual
---------------------------------------- */
.p-catchCopy {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 12%;
  text-align: center;
  color: #b1f5f5;
  line-height: 1.8;
  text-shadow: 6px 6px 6px #093eff;
}
@media screen and (max-width: 992px) {
  .p-catchCopy {
    padding: 0 4%;
  }
}
@media screen and (max-width: 576px) {
  .p-catchCopy {
    font-size: 1.6rem;
    text-align: left;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    white-space: pre;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/* ----------------------------------------
section
---------------------------------------- */
.p-section__title {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  background-color: #b1f5f5;
  color: #093eff;
  border-bottom: none;
  border-radius: 40px 40px 0 0;
  padding: 16px 52px;
}

.p-content__title {
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #f0f8ff;
  color: #093eff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  margin-top: 6rem;
  position: relative;
}
.p-content__title:first-child {
  margin-top: 0;
}
.p-content__title::before {
  content: "";
  display: block;
  width: 60px;
  height: 40px;
  border-left: 6px solid #093eff;
  border-top: 6px solid #093eff;
  position: absolute;
  top: 0;
  left: 0;
}
.p-content__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 40px;
  border-bottom: 6px solid #093eff;
  border-right: 6px solid #093eff;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ----------------------------------------
about
---------------------------------------- */
.p-about__left {
  width: 180px;
  height: 180px;
}
@media screen and (max-width: 768px) {
  .p-about__left {
    margin: 0 auto 32px;
  }
}
.p-about__left--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.p-about__right {
  max-width: 580px;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .p-about__right {
    margin-left: 0;
  }
}
.p-about__right--text {
  font-size: 1.1rem;
  line-height: 1.6;
}
.p-about__right--hobby {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 16px;
}

.p-timeline {
  position: relative;
  margin: 2rem 0;
  padding-left: 2rem;
  border-left: 4px solid #093eff;
}
.p-timeline__item {
  margin-bottom: 2rem;
  position: relative;
}
.p-timeline__item::before {
  content: "";
  position: absolute;
  left: -1.1rem;
  top: 0.3rem;
  width: 12px;
  height: 12px;
  background: #093eff;
  border-radius: 50%;
}
.p-timeline__date {
  font-size: 1.4rem;
  font-weight: bold;
  color: #093eff;
  margin-bottom: 0.3rem;
}
.p-timeline__content {
  font-size: 1.1rem;
  line-height: 1.6;
  background: #f0f8ff;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.p-accordion__wrapper {
  margin-top: 40px;
}
.p-accordion__wrapper--item {
  margin-top: 40px;
}

.p-accordion__title {
  font-size: 1.6rem;
  padding: 16px 32px;
  background-color: #eee;
  color: #093eff;
  border: 4px solid #093eff;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}
.p-accordion__title::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: solid 2px #093eff;
  border-right: solid 2px #093eff;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  position: absolute;
  right: 25px;
  top: 38%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.p-accordion__title.open {
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}
.p-accordion__title.open::after {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.p-accordion__content {
  display: none;
  padding: 16px 32px;
  border-bottom: 4px solid #093eff;
  border-left: 4px solid #093eff;
  border-right: 4px solid #093eff;
  background-color: #f0f8ff;
  border-radius: 0 0 8px 8px;
}

.p-accordion__text {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* ----------------------------------------
work
---------------------------------------- */
.p-mockup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .p-mockup__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-mockup {
  display: block;
  width: 400px;
  height: auto;
  padding: 16px;
  color: #fff;
  background-color: #093eff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .p-mockup {
    width: 80%;
    margin: 32px auto 0;
  }
}
.p-mockup__title {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 12px;
}
@media screen and (max-width: 1200px) {
  .p-mockup__title {
    font-size: 1.4rem;
  }
}
.p-mockup__list {
  margin: 12px;
}
.p-mockup__list--item {
  font-size: 1.1rem;
  line-height: 1.6;
  border: 2px solid #b1f5f5;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 0;
}
.p-mockup__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}
.p-mockup__image--item {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.p-mockup__image--item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.p-mockup__label {
  margin-top: 8px;
}
.p-mockup__label--item {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  padding: 8px 12px;
  margin-left: 8px;
  border: 4px solid #b1f5f5;
  border-radius: 8px;
}

/* ----------------------------------------
contact
---------------------------------------- */
.p-form {
  background-color: #eee;
  border-radius: 8px;
  padding: 16px;
}
.p-form__label {
  display: inline-block;
  font-size: 1.4rem;
  background-color: #fff;
  border: 4px solid #093eff;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
.p-form__label--require {
  font-size: 1.1rem;
  background-color: #093eff;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin-left: 8px;
}
.p-form__input, .p-form__textarea {
  width: 100%;
  font-size: 1.4rem;
  background-color: #fff;
  border: 4px solid #093eff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}
.p-form__textarea {
  height: 180px;
}

.p-table {
  width: 100%;
}
.p-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #b1f5f5;
}
.p-table__row:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

/* ----------------------------------------
footer
---------------------------------------- */
.p-footer__copyRight {
  font-size: 0.8rem;
}

/* ----------------------------------------
notFound
---------------------------------------- */
.p-notFound__title {
  color: #093eff;
  text-shadow: 6px 6px 6px #fff;
}

.p-notFound__text {
  font-size: 1.2rem;
  color: #093eff;
  line-height: 1.6;
}

/* ----------------------------------------
ABC-English-School--subPage
---------------------------------------- */
.p-subPage__wrapper {
  background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
  padding: 80px 4%;
}
.p-subPage__wrapper--sub {
  margin-top: 0;
  padding: 0 4%;
}
.p-subPage__wrapper .p-subPage__container {
  background-color: #b1f5f5;
  border-radius: 0 0 40px 40px;
  padding: 32px 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .p-subPage__wrapper .p-subPage__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-subPage__wrapper .p-subPage__image {
  width: 400px;
  height: 260px;
  border: 6px solid #093eff;
  border-radius: 8px;
}

.p-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 16px 0 0 24px;
  width: 400px;
}
@media screen and (max-width: 576px) {
  .p-desc {
    width: 360px;
    margin: 16px auto;
  }
}
.p-desc__term {
  width: 20%;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 12px;
}
.p-desc__data {
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 12px;
}

.u-lineBreak::before {
  content: "\a";
  white-space: pre;
}
@media screen and (max-width: 576px) {
  .u-lineBreak::before {
    display: none;
  }
}

.u-fontSize__lg {
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#093eff));
  background: linear-gradient(transparent 80%, #093eff);
}

.u-border {
  color: #093eff;
}